@import "../../global.scss";

.navbar {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 70px;
  background: whitesmoke;
  overflow: hidden;
  z-index: 10;

  .right {
    display: flex;
    flex: 1;
    margin: 0 50px;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    text-decoration: none;
    color: #f1ffe7;
    .hamburger {
      display: none;
    }
    .navLinksDesktop {
      display: flex;
      font-size: 1.5rem;
      width: 80%;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      font-weight: 200;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #481620;
      }
      a:hover {
        color: #42c2ff;
      }
    }
  }

  .left {
    display: flex;
    margin-left: 50px;
    align-items: center;

    .logo {
      margin-right: 15px;
      .imgkimi {
        width: 50px;
        height: 50px;
      }
    }
    .p1 {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 1.5rem;
      font-weight: 500;
      color: $mainColor;
    }
  }
}

//reponsive part
@media (max-width: 760px) {
  .navbar {
    .left {
      width: 90%;
      .logo {
        // position: absolute;
        left: 25px;
        font-weight: 500;
      }
    }

    .right {
      .navLinksDesktop {
        display: none;
      }
      .hamburger {
        display: block;
        position: absolute;
        border-radius: 50%;
        top: 15px;
        right: 15px;
        padding: 5px 5px;
        text-align: center;
        transition: 0.5s;
        background-size: 100% auto;
        color: rgb(219, 218, 238);
        border: none;
        font-weight: 200;
        font-size: 20px;
        box-shadow: 0px 0px 14px -7px #6953e7;
        background-image: linear-gradient(
          45deg,
          #501475 0%,
          #acb2f9 51%,
          #2fffd9 100%
        );
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        background-color: transparent;
      }
      .hamburger:hover {
        color: black;
      }
      .navLinksMobile {
        position: fixed;
        display: block;
        top: 70px;
        height: 80vh;
        width: 80vw;
        overflow: hidden;
        background-color: #42c2ff;
        box-shadow: (0 2px 5px rgba(81, 203, 238, 1));
        transition: all 1s ease-out;
        justify-items: center;
        justify-content: space-evenly;
        li {
          width: 100%;
          text-align: center;
          transition: all 0.5s ease;
          list-style: none;
          padding: 15px 15px;

          a {
            color: white;
            text-decoration: none;
            font-size: calc(1rem + 1.5vw);
            justify-content: space-evenly;
          }
          a:hover {
            color: #ffe14b;
          }
        }
      }
    }
  }
}
