@import "../../global.scss";

.navbar {
  display: flex;
  position: absolute;
  align-items: center;
  // justify-content: space-between;
  width: 100vw;
  height: 70px;
  background: whitesmoke;
  overflow: hidden;
  z-index: 10;

  .right {
    // width: 60%;
    flex: 1;
    // border: #1a1b41 2px solid;
    margin: 0 50px;
    // font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: #f1ffe7;
    .hamburger {
      display: none;
    }
    .navLinksDesktop {
      // border: #1a1b41 2px solid;
      display: flex;
      font-size: 1.5rem;
      padding: 5px 5px;
      width: 70%;
      align-items: center;
      justify-content: space-between;
      // flex-wrap: wrap;
      //margin-right: 50px;
      list-style: none;
      // font-weight: 200;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #481620;
      }
      a:hover {
        color: #42c2ff;
        // border-bottom: 2px solid green;
      }
    }
  }

  .left {
    display: flex;
    // border: #1a1b41 2px solid;
    // width: 40%;
    // top: 0;
    // right: 50px;
    margin-left: 50px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    .logo {
      // border: #1a1b41 2px solid;
      margin-right: 15px;
      .imgkimi {
        width: 55px;
        height: 55px;
      }
    }
    .p1 {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 1.5rem;
      font-weight: 500;
      color: $mainColor;
    }
  }
}

//reponsive part
@media (max-width: 760px) {
  .navbar {
    .left {
      width: 90%;
      .logo {
        position: absolute;
        left: 25px;
        font-weight: 500;
      }
    }

    .right {
      .navLinksDesktop {
        display: none;
      }
      .hamburger {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #42c2ff;
        font-size: 30px;
        color: #f0efec;
        border-color: transparent;
        justify-content: center;
      }
      .hamburger:hover {
        color: #ffe14b;
      }
      .navLinksMobile {
        position: fixed;
        display: block;
        top: 75px;
        height: 70vh;
        width: 100vw;
        // list-style-type: none;
        background-color: #1a1b41;
        transition: all 1s ease-out;
        justify-items: center;
        justify-content: space-evenly;

        li {
          width: 100%;
          text-align: center;
          transition: all 0.5s ease;
          list-style: none;
          padding: 15px 15px;

          a {
            color: white;
            text-decoration: none;
            font-size: calc(1rem + 1.5vw);
            justify-content: space-evenly;
          }
          a:hover {
            color: #ffe14b;
          }
        }
      }
    }
  }
}
