@import "../../global.scss";
.footer {
  // position: block;
  display: block;
  width: 100%;
  height: 50px !important;
  background-color: $blue;
  overflow: hidden;
  // bottom: 0;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  padding-bottom: 10px;

  .logoo {
    margin-left: 50px;
    display: flex;
    width: 90%;
    align-items: center;
    gap: 10px;
    p {
      // padding-left: 50px;
    }
    .logo {
      width: 35px;
      height: 35px;
    }
  }
}
