.classes {
  background-color: white;
  overflow: hidden;
  // padding: 50px;
  .offersvg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;

    .heya {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      // text-align: center;
      border: 2px solid black;
      border-radius: 50%;
      width: 33vh;
      height: 33vh;

      .svgof {
        width: 100%;
        height: 100%;
      }
    }
  }
  h2 {
    padding-left: 50px;
    font-size: 20px;
  }
  h3 {
    padding-left: 50px;
    font-size: 20px;
  }
  p {
    justify-content: center;
    align-items: center;
  }
}
