.classes {
  background-color: white;
  overflow: hidden;
  // padding: 50px;
  .offersvg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    flex-wrap: wrap;
    gap: 50px;
    .heya {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      // text-align: center;
      background-color: #e6f2ff;
      border-radius: 50%;
      width: 25vh;
      height: 25vh;

      .svgof {
        width: 60%;
        height: 60%;
      }
    }
  }
  h2 {
    padding-left: 50px;
    font-size: 1.5rem;
    // font-weight: 400;
  }
  h3 {
    padding-left: 50px;
    font-size: 1rem;
  }
  p {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 756px) {
  .classes {
    flex-direction: column;
    .offersvg {
      // .heya {
      //   width: 20vh;
      //   height: 20vh;
      // }
    }
  }
}
